<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>GESTIONE SEMAFORO</h1>
    <form action = "" method = "post">
        <h3>MODIFICA TEMPO LUCI</h3>
        modifica durata semaforo rosso(in secondi)<input type="number" class="login-field" value="0" name="modificaRosso"><br>
        modifica durata semaforo giallo(in secondi)<input type="number" class="login-field" value="0" name="modificaGiallo"><br>
        modifica durata semaforo verde(in secondi)<input type="number" class="login-field" value="0" name="modificaVerde"><br>
        <input type="submit" class="fadeIn fourth" value="conferma"><br><br>
        <h3>ACCENSIONE/SPEGNIMENTO</h3>
        <input type="submit" name="comando" class="fadeIn fourth" value="accensione"><br><br>
        <input type="submit" name="comando" class="fadeIn fourth" value="spegnimento">
    </form>
</body>
</html>