<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aplphabot</title>
</head>
<body>
    <h1 style="text-align: center" >ALPHABOT</h1>
    <form action = "" method = "post">
        <input type="submit" name="direzione" class="login-field" value="FW" /><br><br>
        <input type="submit" name="direzione" class="login-field" value="BW" /><br><br>
        <input type="submit" name="direzione" class="login-field" value="RT" /><br><br>
        <input type="submit" name="direzione" class="login-field" value="LT" /><br><br>
        <input type="submit" name="direzione" class="login-field" value="STOP" /><br><br>
    </form>
</body>
</html>